{{ define "main" }}
<article class="post-20 page type-page status-publish has-post-thumbnail hentry" id="post-20">
	<header class="entry-header has-text-align-center header-footer-group">
	  <div class="entry-header-inner section-inner medium">
	  </div>
	</header>
	<div class="post-inner thin">
	  <div class="entry-content">
		<header class="archive-header has-text-align-center header-footer-group">
			<div class="archive-header-inner section-inner medium">
				<h1 class="archive-title"><a href="{{.Permalink}}"><span>{{ .Title }}</span></a></h1>
			</div>
		</header>
		<div class="wp-block-columns columns alignwide">
		{{.Render "frame"}}
		</div>
		<div class="wp-block-columns columns alignwide">
			{{ range .Pages }}
			{{ if .IsSection }}
			<a href="{{ .Permalink}}">
			  <li class="has-text-align-left">  {{ .Title | markdownify }}</li>
			</a>
			{{ else }}
			{{ end }} 
			{{ end }}
<!--
		<a href="{{  .Parent.Permalink}}" >
			<li class="has-text-align-left"> 回到上一頁 {{ .Parent.Title }}</li>
		</a>
-->
		</div>	
{{ .Render "list-paragraph"}}
	</div>
</article>
{{ end }}