/* 
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

body {
  font-family: 'Otomanopee One', sans-serif !important;
}
*/

.menu-description-box {
    margin: 30px 0;
    padding: 15px;
    border: 3px solid #4c3b1c;
    background-color: #f6f1eb;
	color:#446336; font-size:82.5%;
}

.menu-item-desciption{
	color:#446336; font-size:82.5%;
	padding-left: 4px;

}

.menu-column {
	width: 100%;
	padding-right: 4px;
	padding-left: 15px;
	padding-top: 15px;
	margin: -14px;

}

@media (min-width: 899px) {
	.menu-column {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
		width: 100%;
		padding-right: 50px;
		padding-left: 15px;
		padding-top: 0px;
		margin: -14px;
	}
}

@media (min-width: 450px) and (max-width: 899px)  {
	.menu-column {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
		padding-right: 30px;
		padding-left: 30px;
		margin: -22px;
	}
}
  
.menu-item {
	display: flex;
	align-items: center;
  }
  
.menu-seperator::before,
.menu-seperator::after {
	content: "";
	flex-grow: 1;
	border-bottom: 12px dotted #000;
	margin: 0 5px;
  }

  
  .separator {
	flex-grow: 1;
	display: flex;
	align-items: center;
  }
  
  .separator::before,
  .separator::after {
	content: "";
	flex-grow: 1;
	border-bottom: 	1px dashed #000;
	margin: 0;
  }
  