/* 
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

body {
  font-family: 'Otomanopee One', sans-serif !important;
}
*/

.menu-column {
	width: 100%;
	padding-right: 4px;
	padding-left: 15px;
}

@media (-width: 550px) {
	.menu-column {
		-ms-flex: 0 0 33%;
		flex: 0 0 33%;
		max-width: 33%
	}
}

@media (min-width: 450px) {
	.menu-column {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}
}
  
.menu-item {
	display: flex;
	align-items: center;
  }
  
.menu-seperator::before,
.menu-seperator::after {
	content: "";
	flex-grow: 1;
	border-bottom: 12px dotted #000;
	margin: 0 5px;
  }

  
  .separator {
	flex-grow: 1;
	display: flex;
	align-items: center;
  }
  
  .separator::before,
  .separator::after {
	content: "";
	flex-grow: 1;
	border-bottom: 1px dashed #000;
	margin: 0;
  }
  