{{ $categories := .Params.categories }}
{{ $comboMenu := false}}
{{ range where .Site.Pages "Section" "extras" }}
    {{ $combo := .Params.combo }}
    {{ $commonElements := intersect $categories $combo }}
    {{ if gt (len $commonElements) 0 }}
        {{ $comboMenu = true}}
        {{ break }}
    {{ end }}
{{ end }}

{{ if $comboMenu }}
<div>
    <h4 class="entry-title has-text-align-center">附餐搭配</h4>
    <div class="wp-block-columns columns alignwide">
    {{ range where .Site.Pages "Section" "extras" }}
        {{ $combo := .Params.combo }}
        {{ $commonElements := intersect $categories $combo }}
        {{ if gt (len $commonElements) 0 }}
            {{ .Render "item" }}
        {{ end }}
    {{ end }}
    </div>
</div>
{{ end }}
    
