{{ define "main" }}

<article class="post-20 page type-page status-publish has-post-thumbnail hentry" id="post-20">
  {{ with .Site.Params.banner.heading }}
  <header class="entry-header has-text-align-center header-footer-group">
    <div class="entry-header-inner section-inner medium">
      <h1 class="entry-title">{{ . | markdownify }}</h1>
    </div>
  </header>
  {{ end }}
  <div class="post-inner thin">
    <div class="entry-content">

      <div>
        {{ "<!--Hello friend looking for source code? just check here: https://github.com/hachatw/-->" | safeHTML }}
      </div>

      <div class="has-social-menu">
        <nav aria-label="Social links" class="footer-social-wrapper">
          {{partial "social.html" .}}
        </nav>
      </div><!-- insert social menu of footer-top -->

      <br>
      <br>  

      {{ with .Site.Params.cuisine.food }}
      <div class="wp-block-group alignwide">
        <div class="wp-block-group__inner-container">
          <h2 class="has-text-align-center">{{ . | markdownify }}</h2>
        </div>
      </div>
      {{ end }}

      <div class="wp-block-columns columns alignwide">
        {{ range .Site.Taxonomies.categories.台菜}}
        <div class="menu-column">
              <a href="{{ .Permalink}}">
                <div class="menu-item">
                  <h6 class="name">{{ .Title }}&nbsp;&nbsp;&nbsp;&nbsp;</h6>
                  <span class="separator"></span>
                  {{ range .Params.Price }}
                  <strong>
                  <div rel="price tag">&nbsp;&nbsp;&nbsp;&nbsp;{{ . }} </div>
                  </strong>
                  {{ end }}
                </div>
                <div class="menu-item">
                <p class="menu-item-desciption">{{.Description}}</p>
                </div>
              </a>
        </div>
        {{ end }}
      </div>

      {{ with .Site.Params.cuisine.coffee}}
      <div class="wp-block-group alignwide">
        <div class="wp-block-group__inner-container">
          <h2 class="has-text-align-center">{{ . | markdownify }}</h2>
        </div>
      </div>
      {{ end }}
      
      <div class="wp-block-columns columns alignwide">
        {{ range .Site.Taxonomies.categories.咖啡}}
        <div class="menu-column">
          <div class="wp-block-group">
            <div class="wp-block-group__inner-container">
              <a href="{{.Permalink}}">
                <div class="menu-item">
                  <h4 class="name">{{ .Title }}</h4>
                  <span class="separator"></span>
                  <span class="price">NT 120</span>
                </div>
                <p>{{.Description}}</p>
              </a>
            </div>
          </div>
        </div>
        {{ end }}
      </div>

      {{ with .Site.Params.cuisine.pasta}}
      <div class="wp-block-group alignwide">
        <div class="wp-block-group__inner-container">
          <h2 class="has-text-align-center">{{ . | markdownify }}</h2>
        </div>
      </div>
      {{ end }}
      
      <div class="wp-block-columns columns alignwide">
        {{ range .Site.Taxonomies.categories.義大利麵}}
        <div class="menu-column">
          <div class="wp-block-group">
            <div class="wp-block-group__inner-container">
              <a href="{{.Permalink}}">
                <div class="menu-item">
                  <h4 class="name">{{ .Title }}</h4>
                  <span class="separator"></span>
                  <span class="price">NT 120q</span>
                </div>
                <p>{{.Description}}</p>
              </a>
            </div>
          </div>
        </div>
        {{ end }}
      </div>

      {{ if .Site.Params.gallery.enable }}
      {{ with .Site.Params.gallery }}
      <figure class="wp-block-gallery alignwide columns-2 is-cropped">
        <ul class="blocks-gallery-grid">
          {{ range .gallery_item }}
          <li class="blocks-gallery-item">
            <figure><img src="{{ .image | absURL }}"/></figure>
          </li>
          {{ end }}
        </ul>
      </figure>
      {{ end }}
      {{ end }}
    </div><!-- .entry-content -->
  </div><!-- .post-inner -->
</article>

{{ end }}